@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-areas: "navbar maindoc";
    grid-gap: 20px;
}

#nav-bar {
    grid-area: "navbar";
    border-right: 2px solid gray;

}

#nav-bar a {
    border-top: 2px solid black;
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px 20px;

}

#main-doc {
    grid-area: "maindoc";
}

header {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 20px;
}

section p {
    padding: 5px 30px;
    text-align: justify;
}

section ul {
    padding: 5px 85px;
    text-align: justify;
}

@media screen and (max-width:700px) {

    /* body {
        font-family: 'Raleway', sans-serif;
        display: grid;
        grid-template-columns: minmax(100px, auto) 1fr;
        grid-template-areas: "navbar maindoc";
        grid-gap: 10px;
    }

    header {
        font-size: 1em;
        font-weight: bold;
        padding: 15px 10px;
    }

    #nav-bar {
        position: inherit;
    } */

    body {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar""maindoc";
    }

}