@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-areas: "navbar maindoc";
    grid-gap: 20px;
}

#nav-bar {
    grid-area: "navbar";
    border-right: 2px solid gray;
    overflow-y: scroll;

}

#nav-bar a {
    border-top: 2px solid black;
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px 20px;

}

#toggle {
    display: none;
}

.toggle-area {
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: flex-start;
    display: none;
}

.toggle-area label {
    height: 40px;
    width: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.toggle-area label span {
    background-color: black;
    height: 3px;
    width: 70%;
    margin: 2px 0px;
}

#main-doc {
    grid-area: "maindoc";
}

header {
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 20px;
}

section p {
    padding: 5px 30px;
    text-align: justify;
}

section ul {
    padding: 5px 85px;
    text-align: justify;
}

@media screen and (max-width:700px) {

    #nav-bar {
        display: none;
    }

    #toggle:checked+#nav-bar {
        display: block;
    }

    .toggle-area {
        display: flex;
    }
}